.header {
	.header-ac {
		height: 108px;
		.logo {
			width: 480px;
			height: 54px;
			float: left;
			margin-top: 27px;
		}
		.hot-line {
			width: 170px;
			height: 16px;
			float: right;
			margin-top: 21px;
			background: url(../images/hot-line.png) no-repeat;
			padding-left: 35px;
			font-size: 14px;
			color: #666;
		}
		.search {
			width: 240px;
			height: 30px;
			float: left;
			position: absolute;
			right: 0;
			top: 58px;
			.search-area {
				width: 190px;
				height: 28px;
				border: 1px solid #dadada;
				border-right: none;
				border-radius: 15px 0 0 15px;
				outline: none;
				padding-left: 17px;
				color: #666;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
				display:  block;
			}
			.search-btn {
				width: 32px;
				height: 30px;
				background-color: #169a0d;
				border: none;
				border-radius: 0 15px 15px 0;
				outline: none;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 11;
				cursor: pointer;
				img {

				}
			}
		}
	}



	.nav {
		width: 100%;
		height: 44px;
		background: url(../images/nav-bg.png) repeat-x;

		.bg-line {
			width: 100%;
			height: 37px;
			background: #fff;
			display: none;
			z-index: 10;
			position: relative;
		}



		.nav-ac {
			width: 1049px;
			height: 100%;
			.nav-ul {
				width: 100%;
				height: 100%;
				.nav-li {
					width: 149px;
					height: 100%;
					float: left;
					.nav-a {
						width: 100%;
						font-size: 14px;
						line-height: 44px;
						text-align: center;
						color: #fff;
						display: block;
					}


					.sub-nav-ul {
						height: 37px;
						padding-left: 24px;
						display: none;
						.sub-nav-li {
							width: 81px;
							height: 37px;
							float: left;
							background: url(../images/sub-nav-li-bg.png) no-repeat;
							.sub-nav-a {
								font-size: 12px;
								color: #797979;
								line-height: 37px;
								display: block;
								text-indent: 29px;
							}
						}

						.sub-nav-li:hover {
							background: url(../images/sub-nav-li-bg-hover.png) no-repeat;
							.sub-nav-a {
								color: #00921f;
							}
						}
					}



					.sub-gywm {
						width: 81*4px;
					}
					.sub-yzwd {
						width: 81*3px;
					}
				}
				

				.on {
					.nav-a {
						margin-top: 5px;
						margin-left: 24px;
						margin-right: 24px;
						width: 101px;
						height: 39px;
						line-height: 34px;
						background: #fff;
						color: #00921f;
						border-radius: 5px 5px 0 0;
					}
				}

				.nav-li:hover {
					.nav-a {
						margin-top: 5px;
						margin-left: 24px;
						margin-right: 24px;
						width: 101px;
						height: 39px;
						line-height: 34px;
						background: #fff;
						color: #00921f;
						border-radius: 5px 5px 0 0;
					}
					.sub-nav-ul {
						display: block;
						position: relative;
						z-index: 11;
					}
				}

				span {
					width: 1px;
					height: 100%;
					float: left;
					background: url(../images/li-right-line.png);
				}
			}
		}
	}
}


.banner {
	height: 586px;
	border-bottom: 1px solid #e0e0e0;
	.banner-ac {
		height: 586px;
		position: relative;
		.container1 {
			position: absolute;
			left: -460px;
			width: 1920px;
			height: 586px;
			position: relative;
			.slide1 {
				text-align: center;
				font-size: 18px;
				background: #fff;
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				.slide1-a {
					width: 100%;
					height: 560px;
					margin-top: -25px;
				}
			}
		}
		.pagination1 {
			height: 9px !important;
			position: absolute;
			bottom: 7px;
			right: 0;
			text-align: right !important;
			.swiper-pagination-bullet {
				width: 8px;
				height: 9px;
				margin-left: 7px;
				margin-bottom: 0;
				float: left;
				background: url(../images/pagination-bullet.png) no-repeat;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				background: url(../images/pagination-bullet-now.png) no-repeat;
			}
		}
	}
}

.title-name {
	height: 16px;
	margin-left: 24px;
	padding-left: 14px;
	font-size: 16px;
	line-height: 16px;
	background: url(../images/container-title-bg.png) no-repeat;
	.green-title {
		color: #00921f;
	}
	.english-title {
		font-size: 11px;
		line-height: 16px;
		color: #aaaaaa;
		margin-left: 4px;
	}
}
.container {
	padding-top: 17px;
	background: #f9f9f9;
	.ac-container {
		position: relative;
		.about-us {
			width: 591px;
			height: 270px;
			background: #fff;
			padding-top: 21px;
			position: relative;
			.main-text {
				width: 198px;
				margin-left: 24px;
				margin-top: 22px;
				font-size: 12px;
				line-height: 20px;
				color: #999;
			}
			.main-btn {
				width: 58px;
				height: 21px;
				position: absolute;
				left: 30px;
				top: 227px;
				background: #00921f url(../images/button-plus.png) no-repeat;
				outline: none;
				border: none;
				color: #fff;
				padding-left: 23px;
				text-align: left;
				font-size: 12px;
				line-height: 21px;
				cursor: pointer;
			}
			.swiper2-box {
				width: 336px;
				height: 190px;
				position: absolute;
				left: 237px;
				top: 58px;
				.container2 {
					width: 305px;
					height: 190px;
					position: absolute;
					left: 0;
					top: 0;
					.wrapper2{
						.slide2 {
							width: 95px;
							height: 190px;
							position: relative;
							display: -webkit-box;
							display: -ms-flexbox;
							display: -webkit-flex;
							display: flex;
							-webkit-box-pack: center;
							-ms-flex-pack: center;
							-webkit-justify-content: center;
							justify-content: center;
							-webkit-box-align: center;
							-ms-flex-align: center;
							-webkit-align-items: center;
							align-items: center;
							.slide2-a {
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								left: 0;
								z-index: 10;
							}
							.slide2-a-e {
								background: #089531;
								opacity: 0.9;
							}
							.slide2-a-o {
								background: #df9017;
								opacity: 0.9;
							}
							.ttt {
								width: 100%;
								height: 100%;
								z-index: 11;
								.slide2-title {
									width: 100%;
									height: 13px;
									position: absolute;
									top: 66px;
									font-size: 14px;
									text-align: center;
									color: #fff;
									margin: 0;
								}
								.slide2-title-e {
									width: 100%;
									height: 7px;
									position: absolute;
									top: 83px;
									font-size: 10px;
									text-align: center;
									color: #fff;
									margin: 0;
								}
								.slide2-btn {
									width: 58px;
									height: 20px;
									border: 2px solid #fff;
									position: absolute;
									left: 16.5px;
									top: 100px;
									background: url(../images/button-plus.png) no-repeat;
									background-position: 0 -3px;
									outline: none;
									color: #fff;
									padding-left: 23px;
									font-size: 12px;
									line-height: 12px;
									text-align: left;
									cursor: pointer;
								}
							}
						}
					}
				}
				.next2 {
					width: 20px;
					height: 22px;
					position: absolute;
					top: 22px;
					right: 0;
					background: url(../images/swiper2-next.png);
				}
				.next2:hover {
					background: url(../images/swiper2-next-active.png);
				}
				.prev2 {
					width: 20px;
					height: 22px;
					position: absolute;
					top: 51px;
					left: auto;
					right: 0;
					background: url(../images/swiper2-prev.png);
				}
				.prev2:hover {
					background: url(../images/swiper2-prev-active.png);
				}
			}
		}

		.video-show {
			width: 391px;
			height: 270px;
			background: #fff;
			padding-top: 21px;
			position: absolute;
			top: 0;
			right: 0;
			.video-box {
				width: 343px;
				height: 189px;
				border: 1px solid #e5e5e5;
				margin-left: 23px;
				margin-top: 21px;
				padding: 3px;

			}
		}

		.news {
			width: 591px;
			height: 266px;
			margin-top: 22px;
			.news-pic {
				width: 230px;
				height: 171px;
				margin-left: 24px;
				margin-top: 21px;
				display: block;
			}
		}
	}
}