.header .header-ac {
  height: 108px; }
  .header .header-ac .logo {
    width: 480px;
    height: 54px;
    float: left;
    margin-top: 27px; }
  .header .header-ac .hot-line {
    width: 170px;
    height: 16px;
    float: right;
    margin-top: 21px;
    background: url(../images/hot-line.png) no-repeat;
    padding-left: 35px;
    font-size: 14px;
    color: #666; }
  .header .header-ac .search {
    width: 240px;
    height: 30px;
    float: left;
    position: absolute;
    right: 0;
    top: 58px; }
    .header .header-ac .search .search-area {
      width: 190px;
      height: 28px;
      border: 1px solid #dadada;
      border-right: none;
      border-radius: 15px 0 0 15px;
      outline: none;
      padding-left: 17px;
      color: #666;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: block; }
    .header .header-ac .search .search-btn {
      width: 32px;
      height: 30px;
      background-color: #169a0d;
      border: none;
      border-radius: 0 15px 15px 0;
      outline: none;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 11;
      cursor: pointer; }
.header .nav {
  width: 100%;
  height: 44px;
  background: url(../images/nav-bg.png) repeat-x; }
  .header .nav .bg-line {
    width: 100%;
    height: 37px;
    background: #fff;
    display: none;
    z-index: 10;
    position: relative; }
  .header .nav .nav-ac {
    width: 1049px;
    height: 100%; }
    .header .nav .nav-ac .nav-ul {
      width: 100%;
      height: 100%; }
      .header .nav .nav-ac .nav-ul .nav-li {
        width: 149px;
        height: 100%;
        float: left; }
        .header .nav .nav-ac .nav-ul .nav-li .nav-a {
          width: 100%;
          font-size: 14px;
          line-height: 44px;
          text-align: center;
          color: #fff;
          display: block; }
        .header .nav .nav-ac .nav-ul .nav-li .sub-nav-ul {
          height: 37px;
          padding-left: 24px;
          display: none; }
          .header .nav .nav-ac .nav-ul .nav-li .sub-nav-ul .sub-nav-li {
            width: 76px;
            height: 37px;
            float: left;
            background: url(../images/sub-nav-li-bg.png) no-repeat; }
            .header .nav .nav-ac .nav-ul .nav-li .sub-nav-ul .sub-nav-li .sub-nav-a {
              font-size: 12px;
              color: #797979;
              line-height: 37px;
              display: block;
              text-align: right; }
          .header .nav .nav-ac .nav-ul .nav-li .sub-nav-ul .sub-nav-li:hover {
            background: url(../images/sub-nav-li-bg-hover.png) no-repeat; }
            .header .nav .nav-ac .nav-ul .nav-li .sub-nav-ul .sub-nav-li:hover .sub-nav-a {
              color: #00921f; }
        .header .nav .nav-ac .nav-ul .nav-li .sub-gywm {
          width: 304px; }
        .header .nav .nav-ac .nav-ul .nav-li .sub-yzwd {
          width: 228px; }
      .header .nav .nav-ac .nav-ul .on .nav-a {
        margin-top: 5px;
        margin-left: 24px;
        margin-right: 24px;
        width: 101px;
        height: 39px;
        line-height: 34px;
        background: #fff;
        color: #00921f;
        border-radius: 5px 5px 0 0; }
      .header .nav .nav-ac .nav-ul .nav-li:hover .nav-a {
        margin-top: 5px;
        margin-left: 24px;
        margin-right: 24px;
        width: 101px;
        height: 39px;
        line-height: 34px;
        background: #fff;
        color: #00921f;
        border-radius: 5px 5px 0 0; }
      .header .nav .nav-ac .nav-ul .nav-li:hover .sub-nav-ul {
        display: block;
        position: relative;
        z-index: 11; }
      .header .nav .nav-ac .nav-ul span {
        width: 1px;
        height: 100%;
        float: left;
        background: url(../images/li-right-line.png); }

.banner {
  height: 524px; }
  .banner .banner-ac {
    height: 524px; }
    .banner .banner-ac img {
      width: 1920px;
      height: 524px;
      margin-left: -460px;
      z-index: 1; }
